@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400&display=swap');
/*@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Tajawal:wght@200&display=swap");*/

body {
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
    margin: 0;
}

header {
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    background-color: #eeeeee;
    align-items: center;
    padding: 10px 40px;
    justify-content: space-between;
    min-height: 80px;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 680px) {
    header {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px 10px;
    }
}

#img-logo {
    display: block;
    margin: 10px;
}

nav > ul {
    alignment: bottom;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0;
}

@media (max-width: 410px) {
    nav > ul {
        flex-direction: column;
        align-items: center;
        min-width: 140px;
    }
}

li {
    list-style: none;
    padding: 0.25rem 0;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    color: inherit;
    padding: 2px 20px;
}

.nav-link:hover {
    background-color: #dddddd;
    border-radius: 9999px;
}

#offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#container {
    margin-top: 80px;
}

@media (max-width: 680px) {
    #container {
        margin-top: 110px;
    }

}

@media (max-width: 410px) {
    #container {
        margin-top: 170px;
    }
}

#offer input[type='email'] {
    width: 100%;
    max-width: 350px;
    padding: 0.5em;
    font-family: inherit;
}

#submit {
    width: 150px;
    margin: 20px;
    border: none;
    font-size: 1rem;
    border-radius: 9999px;

    padding: 8px 20px;
    background-color: #eeeeee;
}

#submit:hover {
    background-color: #dddddd;
    cursor: pointer;
}

#features {
}

i {
    display: flex;
    font-size: 80px;
    color: royalblue;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

#features .text {
    display: flex;
    flex-direction: column;
    width: 70vh;
    margin: 20px 0;
}

@media (max-width: 680px) {
    #features .icon {
        display: none;
    }

    #features .text {
        text-align: center;
        padding: 1em;
    }
}


@media (max-width: 680px) {

}


.text > * {
    margin: 0;
    padding: 0;
}

#our-brewery {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#our-brewery > iframe {
    max-width: 600px;
    margin: auto;
    width: 100%;
}

h1 {
    font-family: Oswald, Impact;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

#products {
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex-wrap: wrap;*/
}

@media (max-width: 1200px) {
    #products{
        flex-flow: column;
    }
}

#best-sellers > h1 {
    margin-top: 40px;
    text-align: center;
}

#best-sellers > p {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.sku {
    max-width: 300px;
    min-width: 250px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.sku-image {
    width: 100%;
    border-radius: 10px;
}

.sku-info {
    display: flex;
    min-height: 150px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px 20px 20px;
}


.sku-style, .sku-ttx {
    margin: 0;
    padding: 0;
}

.sku-btn {
    margin: 20px;
}

.add-to-basket {
    display: block;
    margin: auto;
    width: 200px;
    padding: 5px;
    background-color: #000;
    color: #fff;
    border-width: 0;
    border-radius: 9999px;
    font-weight: 600;
    font-family: inherit;
    font-size: 1em;
    transition: all 0.3s ease;
    cursor: pointer;
}

.add-to-basket:hover {
    background-color: #999;
}

footer {
    display: flex;
    padding: 0 40px;
    justify-content: flex-end;
    height: 80px;
    background-color: #eeeeee;
    margin-top: 100px;
}

footer ul{
    display: flex;
    align-items: center;
    justify-items: flex-end;
}

footer ul li{
    margin: 10px;
}

footer ul li a{
    text-decoration: none;
    color: #000;
}